%col-all {
  .ts-col, .col, .col-sm, .col-md, .col-mda {
    padding-left: var(--padding);
    padding-right: var(--padding);
    box-sizing: border-box;
  }
}

.gutter-3 {
  .row {
    width: calc(100% + 6rem);
    margin-left: -3rem;
  }

  @extend %col-all;
  --padding: 3rem;
}

.container {
  // Change padding to em
  padding-left: 3rem;
  padding-right: 3rem;
  @include media-breakpoint-down(md) {
    padding-left: 5em;
    padding-right: 5em;
  }
}

.ts-btn {
}

.text-primary {
  color: $primary;
}

.shadow-1 {
  box-shadow: .5em .5em 1.4em .5em rgba(50, 50, 50, .15);
}

.inline-link {
  color: inherit;
  font-weight: 500;
  font-family: $font-family-1-med-cond;
  position: relative;
  transition: color .2s;
  &:hover {
    color: $primary;
  }
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: .1em;
    left: 0;
    border-bottom: 1px solid currentColor;
  }
}

.text-medium {
  font-family: $font-family-1-med-cond;
}

.screen-width {
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
