#back-to-top {
  position: fixed;
  bottom: 4%;
  right: 5%;
  border-radius: 50%;
  border: 1px solid $primary;
  background-color: #ffffff;
  z-index: 1;
  width: 6em;
  height: 6em;
  margin-right: -3em; // alignment with other buttons
  cursor: pointer;
  box-shadow: 0px 0px 1.5em 0em rgba(0, 0, 0, .2);
  @include chevron(1px, 30%, 30%, 50%, -45, #000000);
  @include media-breakpoint-down(lg) {
    transform: scale(.8);
  }
  @include media-breakpoint-down(md) {
    display: none;
    transform: scale(.7);
    bottom: 1em;
    right: 1em;
  }
}

// Nav
// ----------------------------------------

.page-nav {
  position: fixed;
  top: $nav-height;
  width: 100%;
  z-index: 9;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .page-nav-mb-btn {
    display: none;
    position: relative;
    background-color: rgba($color: #000000, $alpha: 0.75);
    color: #ffffff;
    width: 100%;
    font-size: 3.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    font-family: $font-family-1;
    border: none;
    outline: none;
    transition: color 0.5s;
    .icon {
      position: absolute;
      right: 1em;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.5s;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &.active {
      color: #b2d234;
      .icon {
        transform: translateY(-50%) rotate(-180deg);
      }
    }
    @include media-breakpoint-down(md) {
      display: block;
    }
    @include media-breakpoint-down(sm) {
      font-size: 2.5em;
      .text {
        img {
          width: 1.5em;
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    .mb-dropdown {
      display: none;
      background-color: rgba($color: #000000, $alpha: 0.85);
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
      // max-height: 0;
      // overflow: hidden;
      // transition: all 0.5s;
      ul{
        display: flex !important;
        flex-direction: column !important;
        height: auto;
        li {
          width: 100%;
          color: #ffffff;
          border-bottom: 1px solid #676767;
          padding-top: 0.7em;
          padding-bottom: 0.7em;
          font-size: 1.8em;
          font-family: $font-family-1-cond;
        }
      }
      // &.expanded {
      //   transition: all 0.5s;
      //   max-height: 400px;
      // }
    }
  }

  .page-nav-item {
    $font-size: 2;
    font-size: #{$font-size}em;
    text-align: center;
    display: block;

    a {
      color: inherit;
      //line-height: 5em;
      //height: 5em;
      display: block;
      width: auto;
      margin: 0 (4em/#{$font-size});
      font-weight: normal;

      &:hover {
        color: $primary;
      }

      &.active {
        color: $primary;
        text-decoration: underline;
      }
    }
  }

  &__top {
    @include media-breakpoint-down(md) {
      display: none !important;
    }
    background-color: rgba(50, 50, 50, .7);
    height: 5em;
    color: #ffffff;
  }

  &__bottom {
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    @include media-breakpoint-down(md) {
      background-color: transparent;
      border-bottom: none;
    }
    &__content {
      height: 7em;
      color: #000000;
      font-family: $font-family-1-med-cond;
      letter-spacing: .05em;
    }
  }
}
