/*
 * Note: This is for customizing your page in Wordpress style.
 */

/*
 * Pre-launch only, hidden by default
 */
.nav-logo-honda, .entry-back {
  display: none;
}

/*
 * This will be the class if you create a page template named 'page-countdown.php' and created a page name 'countdown'.
 * We hide the normal nav-menu & footer in this page.
 */
body.page-countdown {
  .site-footer, .main-navigation {
    display: none !important;
  }
  .layout-main {
    padding: 0;
  }
  .nav-logo-honda {
    //display: block; // hide for new design
  }
}

/*
 * Same as above but show footer bottom
 */
.page-pre-launch {
  .footer-top, .main-navigation {
    display: none !important;
  }
  .layout-main {
    padding: 0;
  }
  .nav-logo-honda {
    //display: block; // hide for new design
  }

  // For page-content
  .entry-crumbs {
    display: none;
  }
  .entry-back {
    display: block;
  }
}


// Customize Errors
// ----------------------------------------
#popup-contact {
  .wpcf7-form > p {
    display: none;
  }
  button > p {
    display: none;
  }
}
