.page-family {

  @include media-breakpoint-down(xl) {
    font-size: 9px;
  }
  @include media-breakpoint-down(lg) {
    font-size: 7px
  }
  @include media-breakpoint-down(xs) {
    font-size: (1.25vw)
  }

  // Normalize (Page Level)
  // ----------------------------------------

  font-family: $font-family-1-cond;

  p {
    margin: 1em 0 0 0;
    @include media-breakpoint-down(md) {
      br:not(.not-hide) {
        display: none;
      }
    }
  }

  .btn {
    margin: 1em 0 0 0;
  }

  // Section : Hero
  // ----------------------------------------

  &__hero {
    background: #aaaaaa url('../img/family-link/hero_family_link.jpg') center center / cover no-repeat;

    h1 {
      padding: 3em 0 0 0;
      font-size: 8em;
    }

    p {
      margin-top: .75em;
      font-size: 2.6em;
      line-height: 1.5;
    }

    .logo {
      margin: 0 0 2em 0;
      width: 50em;
      position: relative;
    }

    ._outer {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      padding: 12em 0 0 0;
      box-sizing: border-box;
      height: calc(100vh - 49px);
    }

    @include media-breakpoint-down(md) {
      background: #aaaaaa url(../img/family-link/hero_family_link.jpg) left center/cover no-repeat;
      p {
        font-size: 4em !important;

        br {
          display: none;
        }
      }
      .logo {
        width: 55em;
        margin: 0 0 1em 0;
      }
      &__flexc {
        margin-top: -40px;
        flex-wrap: wrap;
        justify-content: normal;
      }
    }
  }

  // Section : Service List
  // ----------------------------------------

  &__service-list {
    $phoneWidth: 346px;
    background: #cccccc url('../img/family-link/kind_of_service.jpg') center center / cover no-repeat;
    padding-top: 35px;
    padding-bottom: 60px;

    @include media-breakpoint-up(md) {
      .container {
        max-width: 1400px;
      }
    }

    @include media-breakpoint-up(lg) {
      padding-top: 110px;
      padding-bottom: 160px;
    }

    h2 {
      text-align: center;
      padding: 0 0 0 0;
      font-size: 7em;
    }

    .row {
      display: none;
      justify-content: space-between;
      align-items: center;
      position: relative;
      margin-top: 150px;
      @include media-breakpoint-up(lg) {
        display: flex;
      }
      @include media-breakpoint-up(xl) {
        margin-top: 110px;
      }
    }

    .clearfix {
      width: 100%
    }

    &__service {
      display: flex;
      width: calc(100% / 2 - #{$phoneWidth} / 2);
      min-height: 150px;
      max-width: 100%;
      align-items: center;
      text-align: right;
      z-index: 1;
      @include media-breakpoint-up(xl) {
        min-height: 200px;
      }

      &:nth-child(3n-1) {
        text-align: left;
      }

      &__des {
        flex-basis: 0;
        flex-grow: 1;

        h3 {
          cursor: pointer;
          font-weight: bold;
          text-decoration: none;
          font-size: 3em;
          color: #000000;
          opacity: 0.5;
          transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);

          &:hover {
            opacity: 1;
          }
        }

        p {
          margin: 0.3em 0 0 0;
          font-size: 2.2em;
          line-height: 1.5;
          max-height: 0;
          overflow: hidden;
          transition: 0.250s;

          br {
            display: none;
          }

          @include media-breakpoint-up(xl) {
            br {
              display: block;
            }
          }
        }
      }

      &__icon {
        cursor: pointer;
        position: relative;
        width: 50px;
        height: 50px;
        margin-left: 8px;
        margin-right: 8px;
        padding-top: 0;
        border-radius: 50%;
        background-color: transparent;
        transition: background-color 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
        @include media-breakpoint-up(xl) {
          width: 18.75%;
          height: 0;
          padding-top: 18.75%;
          margin-left: 3.515625%;
          margin-right: 3.515625%;
        }

        img {
          max-width: 40%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          opacity: 0.5;
          transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);

          &.hover {
            opacity: 0;
          }
        }
      }

      &.active {
        h3 {
          opacity: 1;
        }

        p {
          max-height: 300px;
        }

        .page-family__service-list__service__icon {
          border-radius: 50%;
          background-color: #fff;

          img {
            opacity: 0;

            &.hover {
              opacity: 1;
            }
          }
        }
      }
    }

    &__service-mb {
      @include media-breakpoint-up(lg) {
        display: none;
      }

      &__slide {
        text-align: center;

        img {
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
          width: 350px;
        }

        &__des {
          h3 {
            cursor: pointer;
            font-weight: bold;
            font-size: 3em;
            color: #000000;
          }

          p {
            margin: 0.3em 0 0 0;
            font-size: 2.2em;
            line-height: 1.5;

            br {
              display: block;
            }
          }
        }
      }

      .slick-prev, .slick-next {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 20px;
        height: 20px;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
      }

      .slick-prev:before, .slick-next:before {
        font-size: 20px;
        line-height: 1;
        opacity: .75;
        color: #000;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      .slick-prev {
        left: -25px;
      }

      .slick-next {
        right: -25px;
      }

      .slick-prev:before {
        content: '<';
      }

      .slick-next:before {
        content: '>';
      }

      .slick-dots {
        position: absolute;
        bottom: -25px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;

        li {
          position: relative;
          display: inline-block;
          width: 10px;
          height: 10px;
          margin: 0 5px;
          padding: 0;
          cursor: pointer;
          border-radius: 50%;
          overflow: hidden;

          button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 10px;
            height: 10px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;

            &:before {
              font-size: 6px;
              line-height: 20px;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              content: ' ';
              text-align: center;
              opacity: 1;
              color: #959595;
              background: #959595;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }
          }

          &.slick-active button:before {
            color: #b2d234;
            background: #b2d234;
          }
        }
      }
    }

    &__phone-container {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      @include media-breakpoint-up(lg) {
      }

      .phone {
        position: relative;
        width: $phoneWidth;

        .case {
          position: relative;
          z-index: 1;
        }

        .screen {
          z-index: 0;
          position: absolute;
          width: 78.719664%;
          text-align: center;
          left: 50%;
          top: 9.269024856596559%;
          transform: translateX(-50%);
          height: 78.64882090503505%;

          background-color: #fff;
        }

        .phone-slide {
          .screen {
            opacity: 0;
            transition: all .25s ease-out;
          }

          .popup {
            z-index: 2;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 100%;
            opacity: 0;

            img {
              width: 100%;
              border-radius: 12px;
              box-shadow: 0px 14px 46.44px 7.56px rgba(0, 0, 0, 0.1);
            }
          }

          &:nth-child(3) {
            .popup {
              top: 47.7%;
            }
          }

          &:nth-child(4) {
            .popup {
              top: 38%;
            }
          }

          &:nth-child(5) {
            .popup {
              top: 43%;
            }
          }

          &:nth-child(7) {
            .popup {
              top: 47%;
            }
          }

          &:nth-child(6), &:nth-child(8) {
            .popup {
              top: 45%;
            }
          }

          &.active {
            .screen {
              opacity: 1;
              transition: all .25s ease-in;
            }

            .popup {
              animation-name: fadeUp;
              animation-duration: .25s;
              animation-fill-mode: forwards;
            }
          }
        }
      }
    }
  }

  // Section : Get Ready
  // ----------------------------------------

  &__get-ready {
    background: #cccccc url('../img/family-link/get_ready.jpg') center center / cover no-repeat;
    // height: 100vh;
    padding-top: 115px;
    padding-bottom: 65px;
    @include media-breakpoint-up(md) {
      .container {
        max-width: 1170px;
      }
    }
    @include media-breakpoint-down(md) {
      padding-top: 85px;
      padding-bottom: 55px;
    }

    h2 {
      text-align: center;
      font-size: 6.5em;
    }

    &__menu {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include media-breakpoint-down(md) {
        margin-top: 30px;
      }

      button {
        font-size: 3.4em;
        color: #000;
        background-color: transparent;
        border: 1px solid #73a241;
        width: 355px;
        max-width: 100%;
        font-family: $font-family-1-cond;
        font-weight: 500;
        padding-top: 20px;
        padding-bottom: 18px;

        &:not(:last-child) {
          border-right: none;
        }

        &:focus {
          outline: 0;
        }

        &:first-child {
          border-top-left-radius: 41px;
          border-bottom-left-radius: 41px;
        }

        &:last-child {
          border-top-right-radius: 41px;
          border-bottom-right-radius: 41px;
        }

        &.active {
          color: #2e3233;
          background-color: #b2d234;
        }

        @include media-breakpoint-down(md) {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }

    &__content-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 60px;
      position: relative;
      @include media-breakpoint-down(md) {
        margin-top: 40px;
      }

      &__content {
        display: none;
        flex-grow: 1;
        flex-basis: 0;
        left: 0;
        top: 50%;
        text-align: center;
        @include media-breakpoint-down(lg) {
          top: 0;
          width: 100%;
        }

        ul, li {
          margin: 0;
          padding: 0;
        }

        ul {
          counter-reset: li-count;
          flex-basis: 0;
          flex-grow: 1;
          @include media-breakpoint-down(lg) {
            display: inline-block;
          }
        }

        li {
          counter-increment: li-count;
          position: relative;
          display: flex;
          margin-top: 4.4rem;
          @include media-breakpoint-down(lg) {
            margin-top: 4em;
          }

          &:first-child {
            margin-top: 0;
          }

          &:before {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.4em;
            height: 1.4em;
            background-color: #b2d234;
            border-radius: 50%;
            font-family: $font-family-1;
            font-weight: 500;
            font-size: 4.7em;
            margin-right: 0.5em;
            content: counter(li-count);
          }

          p {
            font-size: 3em;
            margin: 0.4em 0 0 0;
            flex-basis: 0;
            flex-grow: 1;
            line-height: 1.5em;
            text-align: left;

            &.hasImage {
              margin: 0;
            }

            img {
              margin-right: 2.4rem;
              width: 30%;

              &:last-child {
                margin-right: 0;
              }

              @include media-breakpoint-down(lg) {
                display: none;
              }
            }
          }
        }
      }

      .right-img {
        width: 34.234234234234236%;
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }

      .mb-logo {
        display: none;
        padding-left: 9em;
        padding-right: 4em;
        margin-top: 5em;
        @include media-breakpoint-down(lg) {
          display: flex;
          justify-content: center;
          align-self: center;
        }

        .family-logo {
          margin-right: 24px;
          width: 150px;
        }

        .download-logo {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          img {
            width: 160px;

            &:first-child {
              margin-bottom: 15px;
            }
          }
        }
      }

      .clearfix {
        width: 100%;
      }
    }
  }

  // Section : How to Register
  // ----------------------------------------

  &__how-to-reg {
    background: #efefef url('../img/family-link/how-to-register/sec-how-to-reg-bg.png') top center / cover no-repeat;
    padding: 12em 0 16em 0;

    ._inner {
      width: 100%;
      max-width: 1050px;
      margin: 0 auto;
    }

    img {
      width: 90%;
    }

    h2 {
      font-size: 7em;
      line-height: 1.5;
      font-weight: 700;
      //font-family: $font-family-1-med-cond;
      text-align: center;
      margin: 0 0 1em 0;
    }

    .row-step {
      margin: 8em 0 0 0;
    }

    .desc-wrap {
      //padding-left: 2em;
      width: calc(100% + 1em);
      margin-left: -1em;
    }

    h3 {
      font-size: 3em;
      line-height: 1.5;
      margin: 1em 0 0 0;
    }

    p {
      font-size: 2.2em;
      line-height: 1.6;
    }

    // English
    // ----------------------------------------
    &--en {
      h3 {
        font-size: 2.9em;
      }
    }

    @include media-breakpoint-down(sm) {
      .container {
        padding: 0;
      }
      .col-img {
        text-align: center;
      }
      .col-12 {
        // override Bootstrap grid
        padding-left: 0;
        padding-right: 0;
      }
      img {
        width: 60%;
        margin: 0 auto;
      }
      // main row
      .row-step {
        width: 100%;
        margin: 5em 0 5em 0;
        // content padding here (instead of .container for Slick)
        padding-left: 5em;
        padding-right: 5em;
      }
      .desc-wrap {
        text-align: center;
      }
      h2 {
        margin: 0;
        padding: 0 .75em;
      }
      h3 {
        font-size: 4em;
        margin: 2em 0 0 0;
      }
      p {
        font-size: 3.2em;

        br {
          display: block !important;
        }
      }
    }
  }

  // Section : Package
  // ----------------------------------------

  &__package {
    background: #efefef url('../img/family-link/how-to-register/sec-package-bg.jpg') top center / cover no-repeat;
    padding: 15em 0 14em 0;

    // Override Ake's
    p {
      margin: 1em 0 0 0;
      br:not(.not-hide) {
        display: block;
      }
      @include media-breakpoint-down(md) {
        br:not(.not-hide) {
          display: block;
        }
      }
    }

    h2 {
      font-size: 6.2em;
      text-align: center;
      line-height: 1.5;
      font-weight: 700;
      color: #000;
    }

    .type {
      h2 {
        font-size: 4.2em;
        text-align: center;
        line-height: 1.5;
        font-weight: 700;
        color: #b2d234;
        .color-white {
          color: #ffffff;
        }
      }
    }

    .row {
      > :first-child {
        border-right: 1px solid #fff;
      }
    }

    ._inner {
      width: 100%;
      max-width: 1050px;
      margin: 0 auto;
    }

    .package-content {
      background-color: #484a47;
      text-align: center;
      border-radius: .75em;
      padding: 3.5em 1em;
      margin: 8em 0 0 0;
      .btn-white {
        color: #000;
        background: #fff;
        margin: 3.4em 0;
        font-size: 2em;
        padding: 0.5em 2em;
      }
    }

    .content-main {
      font-size: 6em;
      color: $primary;
      font-weight: 700;
      line-height: 1.15;
      letter-spacing: .05em;
      margin: 0;
      margin-top: 0.7em;

      .color-white {
        color: #ffffff;
      }

      .asterisk {
        font-size: 2em;
        font-weight: 700;
        line-height: 0;
        position: relative;
        top: .4em;
      }

      .img-tel {
        width: .8em;
        margin-top: -.2em;
      }
    }

    .content-mark {
      margin: 0;
      font-size: 2em;
      color: #ffffff;
      font-weight: bold;
    }

    .content-note {
      margin: 2.5em 0 0 0;
      font-size: 2.4em;
      color: #ffffff;
      
      .color-red {
        color: red;
      }
    }

    // Bottom Link
    .package-link {
      display: block;
      text-align: center;
      margin: 5em auto 0 auto;

      a {
        font-family: $font-family-1;
        font-size: 3.25em;
        color: #000000;
        line-height: 1.5;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          width: 100%;
          bottom: .15em;
          border-bottom: 1px solid currentColor;
        }
      }
    }

    p {
      br.show-sm {
        display: none;
      }
      br {
        display: block;
      }
    }


    @include media-breakpoint-down(mda) {
      br.show-sm {
        display: block;
      }

      .content-mark {
        font-size: 3em;
      }

      .row {
        > :first-child {
          border-right: none;
          .type {
            border-bottom: 1px solid #fff;
          }
        }
      }

      .type {
        padding: 3em;
      }
    }
    @include media-breakpoint-down(sm) {
      padding: 13em 0;

      br.show-sm {
        display: block;
      }
      .package-content {
        padding: 4em;
      }
      .content-main {
        font-size: 6.25em;
      }
      .content-note {
        font-weight: normal;
        font-size: 3em;
        line-height: 1.4;
        margin: 2em 0 0 0;
      }
      .package-link {
        a {
          font-size: 4.5em;
          &:before {
            bottom: 0;
          }
        }
      }
    }
  }
}


@keyframes fadeUp {
  0% {
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(50%);
    -moz-transform: translateX(-50%) translateY(50%);
    -ms-transform: translateX(-50%) translateY(50%);
    -o-transform: translateX(-50%) translateY(50%);
    transform: translateX(-50%) translateY(50%);
  }
  100% {
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}

// Nav
// ----------------------------------------

.page-nav-family-link {
  .page-nav__bottom__content {
    display: flex;
    justify-content: space-between;

    .page-nav-item {
      a {
        margin: 0 !important;
      }
    }

    .page-nav-item:nth-child(1) {
      a {
        font-size: 1.25em;
        font-family: $font-family-2;
        font-weight: 800;
        letter-spacing: 0;
      }
    }
  }
}
