.page-secure {

  @include media-breakpoint-down(xl) {
    font-size: 9px;
  }
  @include media-breakpoint-down(lg) {
    font-size: 7px
  }
  //@include media-breakpoint-down(md) {
  //  font-size: .6rem
  //}
  @include media-breakpoint-down(xs) {
    font-size: (1.25vw)
  }

  // Normalize (Page Level)
  // ----------------------------------------

  p {
    margin: 1em 0 0 0;
    line-height: 1.4;
    @include media-breakpoint-down(md) {
      br {
        display: none;
      }
    }
  }

  p, h1, h2, h3, h4, h5 {
    line-height: 1.5;
  }

  .btn {
    font-size: 1em;
    margin: 1em 0 0 0;
  }

  #btn-subscribe {
    background: url('../img/secure-net/icon-subscribe.png') center center / cover no-repeat;
    width: 10.5em;
    height: 10.5em;
    margin-right: -4em;
    z-index: 9;
    position: fixed;
    bottom: 12%;
    right: 4%;
    box-shadow: 0px 0px 1.5em 0em rgba(0, 0, 0, .2);
    border-radius: 50%;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  // Section : Hero
  // ----------------------------------------

  &__hero {
    background: #eeeeee url('../img/secure-net/sn-bg-hero.jpg') center center / cover no-repeat;
    padding: ($nav-height + $page-nav-height) 0 15em 0;

    h1 {
      font-size: 9em;
      margin: .5em 0 0 0;
      font-family: $font-family-2;
      font-weight: 800;
    }

    ._desc {
      font-size: 2.8em;
      margin: 1em 0 0 0;
      line-height: 1.6;
    }

    h3 {
      font-size: 3em;
      margin: 1.5em 0 0 0;
      font-family: $font-family-2;
      font-weight: normal;
    }

    h2 {
      font-size: 5em;
      font-family: $font-family-2;
      font-weight: 800;
      color: $primary;
    }

    ._inner {
      width: 80%;
    }

    .flex-container {
      display: flex;

      p {
        font-size: 2.5em;
        margin: .25em 0 0 0;
      }

      .flex-col {
        margin: 2em 0 0 0;

        &:first-child {
          padding-right: 2em;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            bottom: 7%;
            right: 0;
            height: 80%;
            border-right: 1px solid #000000;
          }
        }

        &:last-child {
          padding-left: 2em;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      background-position: -10vw -20vw;
      background-size: auto 120%;
      padding: 15em 0 20em 0;
      //background-size: auto 100%;
      ._inner {
        width: 100%;
      }
      h2 {
        font-size: 4em;
      }
      .flex-container {
        //flex-wrap: wrap;
        .flex-col {
          //width: 100%;
          &:before {
          }
        }
      }
    }
  }

  // Services
  // ----------------------------------------

  &__services {
    background-image: linear-gradient(#f9f9f6, #ffffff 10%);

    padding: 12em 0 15em 0;

    h2 {
      font-size: 7.5em;
      color: $font-family-1-bold-cond;
    }

    .feature-container {
      margin: 8em 0 0 0;
    }

    .feature {
      position: relative;
      margin: 4em 0 0 0;

      &.has_toggle {
        @include chevron(2px, 2em, 0, 0, 135, #000000);

        &:before {
          left: auto;
          right: 10px;
          top: 3em;
        }
      }

      &.active {
        &:before {
          transform: rotate(-45deg);
        }
      }


      .flex-container {
        display: flex;
        padding: 0 6em 0 0;
      }

      &:last-child {
        hr {
          display: none;
        }
      }

      img {
        width: 18%;
        height: auto;
        align-self: flex-start;
        padding: 0 6em 0 0;
        position: absolute;
      }

      &__content {
        padding: 0 0 0 18%;
      }

      h4 {
        font-size: 3.5em;
        font-weight: 800;
        margin: .2em 0 0 0;
        line-height: 1.5;
        color: $font-family-1-med-cond;
      }

      p {
        font-size: 3em;
        margin: .4em 0 0 0;
        line-height: 1.6;
      }

      ul {
        list-style: disc;
        margin: 2em 0 0 4em;
        display: flex;
        flex-wrap: wrap;
      }

      li {
        font-size: 2.25em;
        width: 50%;
        line-height: 1.5;
        margin: .25em 0 0 0;
      }

      ._outside {
        margin-top: 0;

        li {
          width: 100%;
          font-size: 2.7em;
        }
      }

      h5 {
        font-size: 2em;
        line-height: 1.5;
        margin: 2em 0 0 0;
        font-weight: normal;
      }

      hr {
        margin: 4em 0 0 0;
      }
    }

    @include media-breakpoint-down(sm) {
      h2 {
        text-align: center;
      }
      .feature {
        .flex-container {
          padding-right: 0;
        }

        &__content {
          padding: 0 0 1em 0;
        }

        img {
          padding-right: 3em;
        }

        h4 {
          font-size: 3em;
          margin-top: 0;
          padding: 0 2em .5em 19%;
        }

        ul {
          //margin-left: 2em;
        }

        li {
          //margin-left: -.5em;
          padding-right: 2em;
          font-size: 3em;
        }

        h5 {
          font-size: 3em;
        }

        .full-mobile {
          position: relative;
          //width: 100vw;
          //left: 50%;
          //right: 50%;
          //margin-left: -50vw;
          //margin-right: -50vw;
          box-sizing: border-box;
        }

        // Dirty hack
        &:nth-child(2), &:nth-child(3) { // one liner
          h4 {
            margin: .7em 0 1.2em 0;
          }
        }

        &:nth-child(2) {
          li {
            width: 100%;
            padding-right: 0;
          }
        }
      }
    }
  }


  // Services
  // ----------------------------------------

  &__how-to {
    background: $primary url('../img/secure-net/sn-bg-how-to.jpg') center center / cover no-repeat;
    padding: 12em 0 15em 0;

    h2 {
      font-size: 8em;
      letter-spacing: .02em;
      text-align: center;
      //font-family: $font-family-1-bold-cond;
    }

    .subscribe-btn-container {
      text-align: center;
    }
    .btn-dark {
      padding-left: 55px;
      padding-right: 55px;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 3.2em;
      margin: 2.5em 0 0 0;
      @include media-breakpoint-down(sm) {
        padding-left: 10px;
        padding-right: 10px;
        width: 90%;
      }
    }

    .tab-content-container {
      margin: 6em auto 0 auto;
      width: 100%;
      max-width: 700px;
    }

    .flex-container {
      display: flex;
    }

    .ts-tabs {
      z-index: 9; // for animation
    }

    .flex-col {
      &:first-child {
        width: 60%;
        z-index: 1;
      }
      &:last-child {
        width: 40%;
        z-index: 2;
      }
    }

    // padding top customize
    ._col-1-kids {
      padding-top: 8em;
    }
    ._col-1-net {
      padding-top: 4em;
    }

    .heading-top {
      font-size: 4em;
    }
    .heading-bottom {
      margin: -.1em 0 0 0;
      font-size: 3em;
    }
    .note {
      font-size: 2.5em;
    }
    .line {
      height: .8em;
      background-color: $primary;
      width: 5.2em;
      float: left;
      margin: 1.2em 1em 0 0;
    }

    .steps {
      padding: 1em 0 0 5em;
      li {
        font-size: 2.75em;
        position: relative;
        z-index: 1;
        padding: .5em 0;
        line-height: 1.4;
        cursor: pointer;
        span {
          position: relative;
          z-index: 1;
        }
        &.active {
          &:before {
            $more-length: 3.6em;
            content: '';
            background-color: $primary;
            position: absolute;
            width: calc(100% + #{$more-length});
            height: 100%;
            z-index: -1;
            top: 0;
            left: -#{$more-length/2};
          }
        }
      }
    }

    .phone-wrap {
      width: 100%;
      padding-bottom: (100% *1569/773);
      position: relative;

      .phone-display {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        transform: scale(.788) translateY(-1.75%);
        img {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .phone-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('../img/family-link/phone_nfill_trans.png') center center / cover no-repeat;
      }
    }

    // tab customize
    ._custom-how-to {
      max-width: 70em;
      margin: 0 auto;

      .btn {
        width: 50%;
      }
    }

    @include media-breakpoint-down(sm) {
      padding: 10em 0;
      h2 {
        font-size: 6.5em;
      }
      .ts-tabs {
        margin-top: 3em;
        position: relative;
      }
      .heading-wrap {
        position: relative;
        width: 100vw;
        font-size: 1.4em;
      }
      .phone-wrap {
        margin-top: 14em;
      }
      // override custom padding-top for each _col-1-*
      .flex-col {
        padding-top: 0 !important;
      }

      // Making it full screen
      // ----------------------------------------
      $padding: 3em;
      .tab-content-container {
        // screen-width
        position: relative;
        width: 100vw;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
      }
      .heading-wrap {
        padding-left: $padding;
        padding-right: $padding;
      }
      // wider than the others
      .steps {
        margin-top: 5em;
        padding-left: 7em;
        //width: calc(100% + 3em);
        //margin-left: -2.5em;
        li.active {
          &:before {
            width: 130%;
            left: -17%;
          }
        }
      }
      .phone-wrap {
        transform: translateX(-6%);
      }
      .note {
        padding-left: #{$padding/2.5};
      }
    }

  }

  // Packages (Coming Soon, shared)
  // ----------------------------------------

  &__packages {
    background: $primary url('../img/secure-net/line-bg-ready.jpg') center center / cover no-repeat;

    h2 {
      text-align: center;
      width: 100%;
      font-size: 5em;
      letter-spacing: .02em;
      //font-family: $font-family-1-bold-cond;
    }

    ._inner {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      // height: 65em;
      padding-top: 140px;
      padding-bottom: 160px;
    }

    .row {
      margin-top: 90px;
      margin-bottom: 50px;
      width: 100%;
      justify-content: center;
    }

    .card-black {
      background-color: #484a47;
      border-radius: 8px;
      padding: 3.5em;
      h3 {
        text-align: center;
        font-size: 4em;
        color: #b2d234;
        font-weight: 700;
        line-height: 1.15;
        letter-spacing: .05em;
        margin: 0;
        .color-white {
          color: #ffffff;
        }
      }
      &__detail {
        text-align: center;
        margin-top: 2.5em;
        font-size: 2.4em;
        color: #ffffff;
      }
      &__howTo {
        text-align: center;
        font-size: 5em;
        color: #ffffff;
        font-weight: 700;
        line-height: 1.15;
        letter-spacing: .05em;
        margin: 0;
        .color-green {
          color: #b2d234;
        }
        .img-tel {
          width: .8em;
          margin-top: -.2em;
        }
        .asterisk {
          font-size: 2em;
          font-weight: 700;
          line-height: 0;
          position: relative;
          top: .4em;
        }
      }
    }

    .package-link {
      display: block;
      text-align: center;
      margin: 5em auto 0 auto;

      a {
        font-family: $font-family-1;
        font-size: 3.25em;
        color: #000000;
        line-height: 1.5;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          width: 100%;
          bottom: .15em;
          border-bottom: 1px solid currentColor;
        }
      }
    }

    .btn-dark {
      padding-left: 40px;
      padding-right: 40px;
      font-size: 2.25em;
    }

    @include media-breakpoint-down(md) {
      h2 {
        font-size: 6.5em;
      }
      ._inner {
        padding-top: 30px;
        padding-bottom: 60px;
      }
      .row {
        margin-top: 25px;
        margin-bottom: 0;
      }
      .card-black {
        margin-top: 10px;
      }
      .package-link {
        a {
          font-size: 4.5em;
          &:before {
            bottom: 0;
          }
        }
      }
      .btn-dark {
        font-size: 3.5em;
      }
    }
  }

}

// Nav
// ----------------------------------------

.page-nav-secure-net {
  .page-nav__bottom__content {
    display: flex;
    justify-content: space-between;

    .page-nav-item {
      a {
        margin: 0 !important;
      }
    }

    .page-nav-item:nth-child(1) {
      a {
        font-size: 1.25em;
        font-family: $font-family-2;
        font-weight: 800;
        letter-spacing: 0;
      }
    }
  }
}

