// FAQ
// ----------------------------------------

.sec-faq {
  background: #ffffff;
  position: relative;
  padding: 14em 0 14em 0;

  h2 {
    font-size: 6.3em;
    margin: 0 0 0 0;
  }

  .faq-container {
    margin: 5em 0 0 0;

    p {
      margin: 2em 0 0 0;
      font-size: 2.9em;
      line-height: 1.6;
    }

    ul, li {
      margin: 0;
      padding: 0;
    }
    ul {
      list-style: none;
      padding: 0 0 0 2em;
      font-size: 2.9em;
      line-height: 1.6;
      &.number {
        counter-reset: li-count;
        li {
          counter-increment: li-count;
          &:before {
            content: counter( li-count)')';
            margin-right: 0.5em;
          }
        }
      }
    }
    li {
      position: relative;
      display: flex;
      p {
        font-size: 1em;
        line-height: 1.6;
        margin: 0 !important;
        padding: 0;
      }
      &:before {
        content: '•';
        margin-right: 0.5em;
      }
    }

  }

  @include media-breakpoint-down(md) {
    .faq-container {
      position: relative;
      width: 100vw;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;

      .ts-faq {
        margin-top: 0;
        border-bottom: 1px solid $color-border;

        &:after {
          display: none;
        }

        &:first-child {
          border-top: 1px solid $color-border;
        }

        &__q, &__a {
          border: none;
        }

        &__a {
          padding: 2em 2em;
          position: relative;
          &:before {
            content: '';
            border-top: 1px solid $color-border;
            width: 90%;
            margin-left: 5%;
            top: 0;
          }

          &>p {
            font-size: 3em;
          }
        }
      }
    }
  }
}
