.overflow-hidden {
  overflow: hidden;
}
.reveal-down {

}

[data-aos="reveal-down"] {
  transform: translate(0, -100%);
  &.aos-animate {
    transform: translate(0, 0);
  }
}

[data-aos="reveal-left"] {
  transform: translate(-100%, 0);
  &.aos-animate {
    transform: translate(0, 0);
  }
}
