/**
 * Carousel
 **************************************************
 **************************************************
 */

/**
 * Note: for controlling the size
 * Desktop - shrink the size to fit the arrow.
 * Mobile - expand the size for the arrow to touch the edge of the screen.
 */
.carousel-container {
  box-sizing: border-box;
  padding: 0 28px;
  @include media-breakpoint-down(md) {
    width: calc(100% + #{$content-padding-mobile*2});
    margin-left: -#{$content-padding-mobile};
    padding: 0 #{$content-padding-mobile+28};
  }
}

.carousel-wrap {
  //color: #ffffff;
  position: relative;
  align-self: flex-start;

  .carousel-item--video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;;
    transition: color $transition-ui;

    // add the gray gradient at the bottom
    &.with-bottom-gradient {
      &::before {
        $rgb: 50;
        content: '';
        background-image: linear-gradient(rgba($rgb, $rgb, $rgb, 0), rgba($rgb, $rgb, $rgb, .9));
        height: 50%;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
      }
    }
  }
  .carousel-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
  }
  ._text-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: (40em/16);
    z-index: 3;
    box-sizing: border-box;
    .carousel-date {
      font-style: italic;
      font-size: (22em/16);
    }
    .carousel-title {
      font-weight: bold;
      font-size: (40em/16);
      margin: .4em 0 0 0;
    }
  }

  // Override
  // ----------------------------------------
  .slick-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    width: (74em/16);
    height: (74em/16);
    background-color: $primary;
    z-index: 8;
    border-radius: 50%;
    border: 1px solid #75a441;
    @include chevron(1px, 30%, 47%, 65%, -135, #000000);
    cursor: pointer;
    &.slick-disabled {
      pointer-events: none;
      background-color: #dddddd;
      border-color: #aaaaaa;
    }
    &:hover {
      background-color: #ffffff;
    }
  }
  .arrow-prev {
    transform: translate(-200%, -50%);
    //transform: translate(0, -50%);
  }
  .arrow-next {
    transform: translate(200%, -50%);
    //transform: translate(0, -50%);
    left: auto;
    right: 0;
    &::before {
      top: 33%;
      left: 38%;
      transform: rotate(45deg);
    }
  }


  // Dot
  // ----------------------------------------
  .slick-dots {
    position: absolute;
    //bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 0 0 0;
    list-style: none;
    text-align: center;
    li {
      position: relative;
      display: inline-block;
      margin: 0 10px;
      padding: 0;
      cursor: pointer;
      button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 16px;
        height: 16px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: #959595;
        border-radius: 50%;
      }
      &.slick-active {
        button {
          background-color: $primary;
        }
      }
    }

  }

  @include media-breakpoint-down(lg) {
    ._text-wrap {
      font-size: .85em;
    }
  }
  @include media-breakpoint-down(md) {
    .arrow-prev {
      @include chevron(1px, 16px, 0, -135, #ffffff);
      &::before {
        left: 4px;
      }
    }
    .arrow-next {
      @include chevron(1px, 16px, 0, 45, #ffffff);
      &::before {
        left: 8px;
      }
    }
    .slick-arrow {
      width: #{$content-padding-mobile*2};
      height: #{$content-padding-mobile*2};
      &::before {
        top: 13px;
      }
    }
    ._text-wrap {
      font-size: .75em;
    }
  }
}



// Video Support
// Note: Just preserve aspect ratio, forcing the content ratio
// ----------------------------------------
.carousel-video-wrap {
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  position: relative;
  .carousel-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .carousel-item {
    padding-bottom: 56.25%; /* 16:9 */
    position: relative;
  }
  .jetpack-video-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    iframe {
      width: 100% !important;
      height: 100% !important;
    }
  }
}
