.with-triangle-right {
  display: inline-block;

  &::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: .22em 0 .22em .4em;
    margin-left: .4em;
    border-color: transparent transparent transparent currentColor;
    display: inline-block;
  }
}

// Video
// ----------------------------------------

// only required by .video-absolute
.video-wrap {
  position: relative;
  height: 100%;
}


.video {
  background-color: #1f1f1f;
  border-radius: 1em;
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;

  // Desktop
  @include media-breakpoint-up(mda) {
    &.video-absolute {
      position: absolute;
      top: 50%;
      margin-top: (-56.25%/2);
    }
  }
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .button-play {
    width: 6em;
    height: 6em;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -3em;
    margin-left: -3em;
    z-index: 1;
    background: url('../img/button_play.svg') center center / cover no-repeat;
  }
}

// Buttons
// ----------------------------------------

.btn-outline-tab {
  border: 1px solid $color-border;
  height: 8em;
  background: #ffffff;
  color: #000000;

  &.active {
    background: #000000;
    color: #ffffff;
  }

  @media (hover: hover) {
    &:hover {
      background: #000000;
      color: #ffffff;
    }
  }

  &.active {
    background: #000000;
    pointer-events: none;
  }

  span {
    font-size: 3em;
    font-weight: 500;
  }

  &:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }

  &:first-child {
    border-bottom-left-radius: 4em;
    border-top-left-radius: 4em;
  }

  &:last-child {
    border-bottom-right-radius: 4em;
    border-top-right-radius: 4em;
  }
}

// Tabs (Container)
// ----------------------------------------
.ts-tabs {
  width: 100%;
  display: flex;
  justify-content: center;

  &--primary {
    .btn {
      &.active {
        background-color: $primary;
        color: #000000;
      }
    }
  }

  .btn {
    height: auto;
    padding: 1.4em 1em;
  }
}

.tab-content {
  display: none;

  &.active {
    display: inherit;
  }
}

// FAQ
// ----------------------------------------

.ts-faq {
  position: relative;
  width: 100%;
  margin-top: 2em;

  &:after {
    content: '';
    width: 30px;
    height: 30px;
    background: url(../img/corner.png);
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &:hover, &.active {
    background-color: $primary;

    &:after {
      background-image: url(../img/corner-active.png);
    }

    .ts-faq__q, .ts-faq__a {
      background-color: $primary;
    }
  }

  &.active {
    // The Sign + -
    .toggle-sign:before {
      display: none;
    }
  }

  &__q, &__a {
    position: relative;
    background-color: #ffffff;
    padding: .5em 6em 2em 5em;
    border: 1px solid $color-border;
    line-height: 1.5;
    // Prefix
    &:before, .prefix {
      //content: 'Q.';
      font-size: 4.5em;
      font-family: $font-family-1-med-cond;
      position: absolute;
      left: .1em;
      display: block;
      line-height: 1;
      height: 1em;
      top: .48em;
      width: 1.5em;
      text-align: right;
    }

    p {
      font-size: 2.5em;
      padding: 0 1em 0 1em;
      display: block;
      margin-top: .75em !important;

      &:first-child {
        margin-top: .4em !important;
      }
    }
  }

  &__q {
    cursor: pointer;

    // The Sign + -
    .toggle-sign {
      $width: 2.6em;
      $thickness: 2px;
      position: absolute;
      top: 4.5em;
      right: 6em;
      width: $width;
      height: $thickness;
      color: #000000;
      background-color: currentColor;

      &:before {
        position: absolute;
        content: '';
        height: $width;
        width: $thickness;
        top:  calc( -#{$width}  / 2 + #{$thickness} / 2 );
        left: calc( #{$width}  / 2 - #{$thickness} / 2 );
        background-color: currentColor;
      }
    }
    @include media-breakpoint-down(md) {
      .toggle-sign {
        right: 4em;
      }
    }
  }

  &__a {
    border-top: none;
    display: none; // trick for slideToggle()
    &:before {
      //content: 'A.';
    }
  }
}

// Pagination
// ----------------------------------------

.ts-pagination {
  display: block;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 8em 0 0 0;

  a {
    $font-size: 3;
    cursor: pointer;
    border: 1px solid $color-border;
    width: #{5.6em / $font-size};
    height: #{5.6em / $font-size};
    line-height: #{(5.6em / $font-size) - .0em};
    display: inline-block;
    color: currentColor;
    font-size: #{$font-size}em;
    margin: 0 #{1em / $font-size};

    &.active, &:hover {
      background-color: $primary;
    }
  }
}
