@mixin chevron($chevron-thickness, $chevron-size, $chevron-offset-x, $chevron-offset-y, $rotate, $color:$color-border-input) {
  &::before {
    border-style: solid;
    border-color: $color;
    border-width: $chevron-thickness $chevron-thickness 0 0;
    content: '';
    display: inline-block;
    height: $chevron-size;
    width: $chevron-size;
    top: $chevron-offset-y;
    left: $chevron-offset-x;
    position: absolute;
    transform: rotate(#{$rotate}deg);
    transition: transform .3s, border-color $transition-ui;
    transform-origin: #{$chevron-size *.75} #{$chevron-size *.25};
    box-sizing: border-box;
  }
}

@mixin res-text($divider, $font-size, $line-height, $letter-spacing: 0) {
  font-size: (#{$font-size/$divider}vw);
  line-height: (#{$line-height/$divider}vw);
  letter-spacing: #{$letter-spacing}vw;
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-v-center {
  display: flex;
  align-items: center;
}

%flex-h-center {
  display: flex;
  justify-content: center;
}

%full-absolute {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

%full-absolute-bottom-left {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
