.page-dq {

  @include media-breakpoint-down(xl) {
    font-size: 9px;
  }
  @include media-breakpoint-down(lg) {
    font-size: 7px
  }
  //@include media-breakpoint-down(md) {
  //  font-size: .6rem
  //}
  @include media-breakpoint-down(xs) {
    font-size: (1.25vw)
  }

  // Normalize (Page Level)
  // ----------------------------------------

  p {
    margin: 1em 0 0 0;
    @include media-breakpoint-down(md) {
      br:not(.not-hide) {
        display: none;
      }
    }
  }

  .btn {
    font-size: 1em;
    margin: 1em 0 0 0;
  }

  // Section : Hero
  // ----------------------------------------

  &__hero {
    //height: calc(100vh - #{$nav-height});
    position: relative;

    .carousel-wrap {
      .arrow-prev {
        transform: translate(-150%, -50%);
        //transform: translate(0, -50%);
      }
      .arrow-next {
        transform: translate(150%, -50%);
      }
    }

    .hero_bg {
      background: #eeeeee url('../img/dq/bg-dq-hero-top.jpg') center center / cover no-repeat;
    }

    h1 {
      font-size: 9em;
      font-weight: 800;
      margin: 1.5em 0 0 0;
      font-family: $font-family-2;
    }

    p {
      font-size: 3em;
      margin: .5em 0 2em 0;
      line-height: 1.6;
    }
    .shadow-white {
      text-shadow: 0 0 28px rgba(255, 255, 255, 1), 0 0 28px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 28px rgba(255, 255, 255, 1);
    }

    .position-container {
      //display: flex;
      //justify-content: flex-start;
      //align-items: center;
      &__content {
        display: block;
      }
    }

    ._padding-page-nav {
      height: 120px;
    }

    ._padding-carousel {
      padding-bottom: (50% * (9 / 16)); // trick for half-carousel
    }

    @include media-breakpoint-down(md) {
    }
  }

  // Carousel
  // ----------------------------------------

  &__carousel {
    background: #eeeeee url('../img/dq/bg-dq-hero-bottom.jpg') center center / cover no-repeat;
    position: relative;
    background-color: #dddddd;
    padding: 0 0 12em 0;

    .container {
      position: relative;
    }

    .carousel-container {
      position: relative;
      transform: translate(0, -50%); // trick for half-carousel
      margin-bottom: (-40% * (9 / 16)); // trick for half-carousel
    }

    p {
      margin: 2em 0 0 0;
      font-size: 3em;
      line-height: 1.6;
    }

    // Slick Customize
    .slick-dots {
      margin-top: 6em;
      @include media-breakpoint-down(md) {
        margin-top: 2em;
      }
    }

    @media only screen and (max-width: 1500px) {
      .carousel-container {
        transform: translate(0, -50%) scale(.9);
      }
    }
    @include media-breakpoint-down(md) {
      .carousel-container {
        transform: translate(0, -50%);
      }
      p {
        margin-top: 4em;
      }
    }
  }

  // DQ8
  // ----------------------------------------

  &__dq8 {
    background: #eeeeee url('../img/dq/bg-dq-eight.jpg') center top / cover no-repeat;
    position: relative;
    background-color: #dddddd;
    padding: 12em 0 12em 0;

    h2 {
      font-size: 8em;
      text-align: center;
    }

    .dq8-img {
      width: 100%;
      height: auto;
    }

    @include media-breakpoint-down(md) {
    }
  }
  // Benefit
  // ----------------------------------------

  &__benefit {
    background: #eeeeee url('../img/dq/bg-dq-benefit.jpg') center top / cover no-repeat;
    position: relative;
    background-color: #dddddd;
    padding: 12em 0 12em 0;

    h2 {
      font-size: 8em;
      text-align: center;
    }

    p {
      margin: 2em 0 0 0;
      font-size: 3em;
      line-height: 1.6;
    }

    .ts-tabs {
      margin-top: 4em;
    }
    .btn-outline-tab {
      width: 30%;
    }

    .__desc {
      font-size: 3em;
      line-height: 1.5;
      padding: 0 0 0 2em;
    }

    .row {
      align-items: center;
      margin-top: 6em;
    }

    @include media-breakpoint-down(md) {
    }
  }

  // Enroll
  // ----------------------------------------

  &__enroll {
    background: #eeeeee url('../img/dq/bg-dq-enroll.jpg') center center / cover no-repeat;
    position: relative;
    background-color: #dddddd;
    padding: 12em 0 12em 0;

    h2 {
      font-size: 8em;
      text-align: center;
    }

    p {
      margin: 2em 0 0 0;
      font-size: 3em;
      line-height: 1.6;
    }

    &__item {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 10em 0 0 0;
      img {
        width: 50%;
      }
      .__content {
        font-size: 2.5em;
        line-height: 1.5;
        margin: 1em 0 0 0;
        text-align: center;
      }
    }


    @include media-breakpoint-down(md) {
    }
  }

  // Test
  // ----------------------------------------

  &__test {
    background: #eeeeee url('../img/dq/bg-dq-test.jpg') center center / cover no-repeat;
    position: relative;
    background-color: #dddddd;
    padding: 12em 0 12em 0;

    h2 {
      font-size: 6.7em;
    }

    p {
      margin: 2em 0 0 0;
      font-size: 2.9em;
      line-height: 1.6;
    }

    .line {
      height: 1em;
      background-color: $primary;
      width: 100%;
      margin: 3.25em 1.5em 0 0;
      display: block;
    }

    .row {
      margin-top: 4em;
    }

    h3 {
      font-size: 3.5em;
      font-weight: normal;
    }

    .btn {
      width: 80%;
      margin: 2.5em 0 0 0;
      height: 5.6em;
      line-height: 4.8em;
      span {
        font-size: 2.5em;
      }
    }

    &__inner {
      width: 60%;
      @include media-breakpoint-down(md) {
        width: 75%;
      }
    }


    @include media-breakpoint-down(md) {
    }
  }

  #btn-test-dq {
    background: url('../img/dq/icon-test-dq.png') center center / cover no-repeat;
    width: 8em;
    height: 8em;
    margin-right: -4em; // alignment with other buttons
    z-index: 9;
    position: fixed;
    bottom: 12%;
    right: 5%;
    box-shadow: 0px 0px 1.5em 0em rgba(0, 0, 0, .2);
    border-radius: 50%;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

// Nav
// ----------------------------------------

.page-nav-dq {
  .page-nav__bottom__content {
    display: flex;
    justify-content: space-between;
    .page-nav-item {
      a {
        margin: 0 !important;
      }
    }
    .page-nav-item:nth-child(1) {
      img {
        width: 2em;
        margin: 0 .1em;
      }
      .active {
        text-decoration: none !important;
      }
    }
  }
}


