.page-home {

  font-family: $font-family-1;

  @include media-breakpoint-down(xl) {
    font-size: 9px;
    //font-size: .9rem
  }
  @include media-breakpoint-down(lg) {
    //font-size: .7rem
    font-size: 7px
  }
  //@include media-breakpoint-down(md) {
  //  font-size: .6rem
  //}
  @include media-breakpoint-down(xs) {
    font-size: (1.25vw)
  }

  // Section : Hero

  &__hero {
    background: url('../img/bg-home-hero.jpg') center center / cover no-repeat;
    text-align: right;

    ._outer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      padding: 12em 0 0 0;
      box-sizing: border-box;
      height: calc(100vh - #{$nav-height});
    }

    ._inner {
    }

    h2 {
      font-size: 11.2em;
    }

    h1 {
      font-size: 11.2em;
      font-weight: 800;
      margin: -0.2em 0 0 0;
      font-family: $font-family-2;
    }

    p {
      font-size: 4.8em;
      margin: .5em 0 1.75em 0;
      a {
        color: #ffffff;
        border-bottom: 1px solid #fff;
        &:hover {
          color: #b2d233;
          border-bottom: 1px solid #b2d233;
          transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
        }
      }
    }

    .btn {
      font-size: 1em;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 18em;
      height: 7.1em;
      margin-left: auto;
      background-color: rgba(0, 0, 0, .2);
      cursor: pointer;

      span {
        font-size: 3.2em;
      }

      &:hover {
        background-color: #ffffff;
        color: #000000;
      }
    }

    @include media-breakpoint-down(md) {
      h2 {
        font-size: (64em/8);
        font-weight: normal;
      }
      h1 {
        font-size: (54em/8);
        margin: .05em 0 0 0;
      }
      p {
        line-height: 1.3;
        margin-top: 1em;
        margin-bottom: 2.5em;
      }
      .btn {
        font-size: 1.75em;
      }
    }
  }

  // Section : Description

  &__desc {
    background: url('../img/bg-home-desc.jpg') center center / cover no-repeat;
    padding-top: 20em;
    padding-bottom: 25em;

    h2 {
      font-size: 12.2em;
      font-weight: 500;

      .text-primary {
        color: #97b520 !important;
      }
    }

    p {
      font-size: 5.6em;
      line-height: 1.2;
    }

    &__btn {
      font-size: 1em;
      background-color: rgba(#1f1f1f, .7);
      text-align: left;
      padding: 2em 4em;
      margin-right: 3em;
      width: 47em;
      margin-top: 3em;
      padding: 2em 2em;
      &.btn-cyber {
        position: relative;
        border: none;
        background-color: transparent;
        background-image: url('../img/btn_cyberwellness.png');
        h3 {
          font-size: 4.3em;
          line-height: 1.27;
        }
        h4 {
          font-family: $font-family-2;
          font-weight: bold;
          font-size: 4.5em;
        }
        .char {
          width: 30%;
          position: absolute;
          left: -43px;
          bottom: -25px;
          @include media-breakpoint-down(md) {
            bottom: -20px;
          }
        }
      }
      &.text-right {
        text-align: right;
      }
      &:hover {
        background-color: rgba(#1f1f1f,1);
      }

      h3 {
        font-size: 5.8em;
        line-height: 1;
        color: $primary;
        font-family: $font-family-1-cond;
      }

      h4 {
        font-size: 4em;
        line-height: 1;
        margin: .2em 0 0 0;
        color: #ffffff;
        font-weight: normal;
      }
    }

    @include media-breakpoint-down(md) {
      text-align: center;
      h2 {
        font-size: (80em/8);
        text-align: center;
      }
      p {
        text-align: center;
        font-size: 5.75em;
        margin: .5em 0;

        br {
          display: none;
        }
      }
      &__btn {
        font-size: 1.1em;
        margin-right: 0;
      }
    }
  }

  // Section : อุ่นใจ Cyber

  &__wellness {
    background: url('../img/bg-home-wellness.png') center center / cover no-repeat;
    //background-color: $primary;
    padding-top: 13em;
    padding-bottom: 15em;

    h2 {
      font-size: 9em;
      font-weight: 800;
      line-height: 1;
      font-family: $font-family-2;
    }

    h3 {
      font-size: 4.4em;
      font-weight: normal;
      line-height: 1;
      margin: .25em 0 0 0;
    }

    p {
      margin: 1em 0 0 0;
      font-size: 3.8em;
      line-height: 1.2;
      //border-left: 1rem solid #ffffff;
      padding: 0 0 0 1.5em;
      position: relative;
      .line-left {
        content: '';
        border-left: 1rem solid #ffffff;
        height:100%;
        left: 0;
        top: 0;
        position: absolute;
      }
    }

    @include media-breakpoint-down(md) {
      background-position: left top;
      background-size: auto 100%;
      padding-top: 15em;
      padding-bottom: 15em;
      h2 {
        font-size: (90em/8);
      }
      h3 {
        font-size: (44em/8);
      }
      p {
        font-size: (39em/8);
        border-width: .2em;
        padding-left: .75em;
        .line-left {
          border-width: .25em;
        }

        br {
          display: none;
        }
      }
      &__btn {
        font-size: 1.1em;
        margin-right: 0;
      }
      .row {
        flex-direction: column-reverse;
      }
      .video-wrap {
        display: block;
        margin-top: 6em;

        .video {
          position: static;
          margin: 0 0 1em 0;
        }
      }
    }
  }

  // Section : Network Educator

  &__educator {
    background: url('../img/bg-home-educator.jpg') center center / cover no-repeat;
    background-color: #eeeeee;
    padding-top: 28em;
    padding-bottom: 28em;

    .heading {
      font-weight: 800;
      font-family: $font-family-2;
      line-height: .9;

      span {
        font-size: 8.2em;
      }

      .overflow-hidden {
        float: left;
      }
      .line {
        height: 1em;
        background-color: $primary;
        width: 9em;
        float: left;
        margin: 3.25em 1.5em 0 0;
        display: inline;
      }
    }

    .btn {
      font-size: 1em;
      height: 5.5em;
      width: 17.5em;
      margin-top: 3em;

      span {
        font-size: 3.2em;
      }
    }

    p {
      margin-top: .75em;
      font-size: 3.8em;
      line-height: 1.2;
    }

    &__flexc {
      display: flex;
      justify-content: space-between;

      .left {
        p {
          font-size: 3.8em;
          margin: .5em 0 0 0;
        }
      }

      .right {
        p {
          font-size: 4.2em;
          margin: .75em 0 0 0;
        }

        //flex-grow: 1;
      }
    }

    .logo {
      margin: 2em 0 0 0;
      width: (52.6em/2);
      position: relative;
    }

    .with-shadow {
      display: inline;
      position: relative;
      width: auto;

      &::before {
        content: '';
        position: absolute;
        width: 80%;
        height: 0px;
        top: 50%;
        box-shadow: 0px 0px 6em 2em rgba(255, 255, 255, .5);
      }
    }

    @include media-breakpoint-down(md) {
      p {
        font-size: 5em !important;

        br {
          display: none;
        }
      }
      .logo {
        width: 40em;
        margin: 10em 0 0 0;
      }
      &__flexc {
        flex-wrap: wrap;
        justify-content: normal;
      }
      .btn {
        font-size: 1.75em;
      }
    }
  }

  // Section : Network Protector

  &__security {
    background: url('../img/bg-home-secure.jpg') center center / cover no-repeat;
    background-color: #eeeeee;
    padding-top: 20em;
    padding-bottom: 24em;
    color: #ffffff;

    h2, h3 {
      font-weight: 800;
      font-family: $font-family-2;
      color: $primary;
      line-height: .9;
    }

    h2 {
      font-size: 8.2em;
    }

    h3 {
      font-size: 5.5em;
      float: left;
    }

    h4 {
      font-size: 4em;
      color: $primary;
      font-weight: normal;
      clear: both;
      padding-top: .5em;
    }

    h5 {
      font-size: 4.8em;
      font-weight: 800;
      font-family: $font-family-2;
    }

    .line {
      height: 1em;
      background-color: #ffffff;
      width: 10em;
      float: left;
      margin: 2.5em 0 0 1.5em;
      display: inline;
    }

    .btn {
      font-size: 1em;
      height: 5.5em;
      width: 17.5em;
      margin-top: 3em;

      span {
        font-size: 3.2em;
      }
    }

    p {
      font-size: 3.8em;
      line-height: 1.2;
      margin: .74em 0 0 0;
      @include media-breakpoint-down(md) {
        br {
          display: none;
        }
      }
    }

    .logo {
      margin: 1em 0 0 0;
      width: (108.2em/2);
      position: relative;
    }

    .content-img {
      border-radius: 10px;
      box-shadow: .5em .5em 1.4em .5em rgba(50, 50, 50, .15);
      width: 100%;
      height: auto;
    }

    .first-row {
      padding: 10em 0 9em 0;
    }

    @include media-breakpoint-down(md) {
      padding: 16em 0 24em 0;
      h2 {
        font-size: (82em/8);
      }
      h3 {
        font-size: (55em/8);
      }
      h4 {
        font-size: (40em/8);
      }
      background-position: right center;
      .first-row {
        padding: 10em 0 12em 0;
      }
      .second-row {
        flex-direction: column-reverse;
      }
      .btn {
        font-size: 1.75em;
        margin-top: 3em;
      }
      .content-img {
        margin-bottom: 8em;
      }
      p {
        font-size: 5em;
      }
      .logo {
        margin: 0 0 .5em 0;
      }
    }
  }

  // Section : E-Waste

  &__e-waste {
    background: url('../img/bg-home-e-waste.jpg') center center / cover no-repeat;
    //background-color: $primary;
    padding-top: 10em;
    padding-bottom: 15em;

    h2 {
      font-size: 9em;
      font-weight: 800;
      line-height: 1;
      font-family: $font-family-2;
    }

    h3 {
      font-size: 4em;
      font-weight: normal;
      line-height: 1;
      margin: 0 0 0 0;
    }

    h4 {
      font-size: 6.4em;
      font-weight: bold;
      line-height: 1;
      margin: .25em 0 0 0;
    }

    .line {
      width: 43em;
      height: 1em;
      background-color: $primary;
      margin: 3em 0 3em 0;
    }

    p {
      font-size: 3.8em;
      line-height: 1.2;
      margin: .5em 0 0 0;
    }

    .btn {
      font-size: 1em;
      height: 5.5em;
      width: 17.5em;
      margin-top: 3em;

      span {
        font-size: 3.2em;
      }
    }

    .video-wrap {
      margin-top: 3em;
    }

    @include media-breakpoint-down(md) {
      background-position: left top;
      background-size: auto 100%;
      padding-top: 15em;
      padding-bottom: 15em;
      h2 {
        font-size: (90em/8);
      }
      h3 {
        font-size: (44em/8);
      }
      h4 {
        font-size: (65em/8);
      }
      p {
        font-size: (39em/8);

        br {
          display: none;
        }
      }
      .btn {
        font-size: 1.75em;
        margin-top: 3em;
      }
      .video {
        margin-top: 9em;
      }
    }
  }
}
