$popup-padding: (30em/16);
$popup-padding-mobile: (17em/16);
.ml-popup {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);

  @include media-breakpoint-down(xl) {
    font-size: 9px;
  }
  @include media-breakpoint-down(lg) {
    font-size: 7px
  }
  @include media-breakpoint-down(xs) {
    font-size: (2.25vw)
  }

  .back-drop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 201;
  }

  .mp-outer {
    box-sizing: border-box;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    height: 80vh;
    margin: 10vh 0 0 0;
    @include media-breakpoint-down(sm) {
      padding: 0 $popup-padding-mobile;
      //margin-top: 5vh;
    }
  }

  /* Modal Content/Box */
  .mp-inner {
    padding: $popup-padding;
    //border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    max-width: 1100px; // popup width here!
    box-sizing: border-box;
    position: relative;
    z-index: 209;
    //overflow: hidden;
    //height: 100%;
    height: auto;
    align-self: center;
    background-color: #ffffff;

    &.__padding-news {
      padding: 80px 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 0em $popup-padding-mobile 2em $popup-padding-mobile;
      width: 100%;
    }
  }

  .sp-close {
    $size: 4em;
    position: absolute;
    color: #ffffff;
    background-color: #000000;
    top: -#{$size/2};
    right: -#{$size/2};
    cursor: pointer;
    font-weight: 300;
    z-index: 9;
    text-align: center;
    line-height: 1;
    width: $size;
    height: $size;
    border-radius: 50%;

    &::before {
      line-height: .85em;
      content: '×';
      font-size: #{$size};
    }

    &:hover {
      color: $primary;
    }

    @include media-breakpoint-down(sm) {
      right: 0;
      top: -8em;
      width: 6em;
      height: 6em;
      &:before {
        font-size: 6em;
      }
    }
  }

  // Common
  // ----------------------------------------
  .scroll-container {
    position: relative;
  }
  .thankyou-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .img-container {
      margin-top: 50px;
      margin-bottom: 60px;
      text-align: center;
    }
    p {
      text-align: center;
      font-size: 2.3em;
      @include media-breakpoint-down(sm) {
        font-size: 1.6em;
      }
    }
  }
}

#popup-dq, #popup-subscribe {

  // main padding
  .mp-inner {
    padding: 4em 4em;
    max-width: 900px;
  }

  .heading1 {
    text-align: center;
    font-size: 4em;
    line-height: 1.5;
  }

  #contact-form {
    margin: 3em 0 0 0;
  }

  .form-item {
    margin: 3.5em 0 0 0;
  }

  .input-label {
    font-size: 2.8em;
    display: inline-block;
    padding: 0 0 .5em 0;
  }

  label:not(.form-item-checkbox).error {
    position: absolute;
    color: $color-danger;
    font-size: 1.5em;
    margin: .5em 0 0 0;
    display: block;
  }

  input {
    width: 100%;
    font-size: 2em;
    padding: .5em 1em;
    border-radius: .4em;
    border: 1px solid #bbbbbb;
    height: 46px;
    &::placeholder {
      line-height: normal;
    }
    &:focus {
      outline: none;
      border-color: #b2d234;
    }
  }
  .ml-input.error, .error {
    color: #BF171E;
    border-color: #BF171E;
  }

  .condition {
    position: relative;
    border-radius: 8px;
    border: 1px solid #acacac;
    max-height: 350px;
    // overflow: auto;
    padding: 20px;
    font-size: 2em;
    margin: 0;

    overflow: hidden!important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
    .tab {
      display: block;
      padding-left: 1em
    }
    br {
      &.not-hide {
        display: block;
      }
    }
  }

  // Checkbox
  // ----------------------------------------
  .form-item-checkbox, .form-item-radio {
    background-color: transparent;
    user-select: none;
    font-size: 2em;
    position: relative;
    padding-left: 35px;
    height: 30px;
    display: inline-flex;
    align-items: flex-end;
    cursor: pointer;
    @include media-breakpoint-down(sm) {
      font-size: 1.5em;
      height: 20px;
    }
    &.error-checkbox {
      color: #BF171E;
    }

    @media (min-width: 768px) {
      padding-left: 50px;;
    }

    /* Hide the browser's default checkbox */
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 2px;
      left: 0;
      height: 30px;
      width: 30px;
      border-radius: 8px;
      background-color: #ffffff;
      border: 1px solid #d7d7d7;
      @include media-breakpoint-down(sm) {
        height: 20px;
        width: 20px;
        border-radius: 3px;
      }
    }

    /* On mouse-over, add a grey background color */
    &:hover input ~ .checkmark {
      background-color: #eeeeee;
    }

    /* When the checkbox is checked, add a blue background */
    input:checked ~ .checkmark {
      background-color: #b2d234;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    input:checked ~ .checkmark:after {
      display: block;
    }

  }
  .form-item-checkbox {

    /* Style the checkmark/indicator */
    .checkmark:after {
      background-image: url('./../img/checked.png');
      left: 6px;
      top: 7px;
      width: 19px;
      height: 15px;

      @include media-breakpoint-down(sm) {
        background-size: cover;
        left: 2px;
        top: 3px;
        width: 14px;
        height: 10px;
      }
    }

  }


  
  .popup-footer {
    text-align: center;
  }

  .selectric-items {
    box-shadow: none;
    border: 1px solid #b2d234;
    border-radius: .8em;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: none;
    overflow: hidden;
    z-index: 1;
    li {
      background: #ffffff;
      color: #000000;
      font-size: 2rem;
      padding: .5em 1em;
      &:first-child {
        display: none;
      }
      &:hover {
        background: #b2d234;
        color: #fff;
      }
      &.highlighted {
        font-weight: bold;
      }
    }
  }
  .selectric {
    border-radius: .8em;
    max-height: 46px;
    padding: .5em 2em;
    background: transparent;
    border: 1px solid #bbbbbb;
    &.error {
      border-color: #BF171E;
      // .label {
      //   color: #BF171E;
      // }
    }
    .button {
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
      &:after {
        content: none;
      }
    }
    .label {
      font-size: 2em;
      margin-left: 0;
    }
    .button {
      background: transparent;
    }
  }

  .selectric-open  {
    .selectric {
      border-color: #b2d234;
      border-bottom: none;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      .button {
        transform: translateY(-50%) rotate(-180deg);
      }
    }
  }

  .btn {
    margin: 2em 0 0 0;
    font-size: 2em;
    min-width: 10em;
    border-radius: .25em;
    padding: .5em 0;
    &:hover {
      color: $primary;
    }
  }

  @include media-breakpoint-down(sm) {
    .mp-inner {
      padding: 3em 1em;
    }
    .scroll-container {
      max-height: 70vh;
      padding: 0 2em;
    }
    .heading1 {
      text-align: center;
      font-size: 3em;
    }
    #contact-form {
      margin: 2em 0 0 0;
    }
    .form-item {
      margin: 3em 0 0 0;
      &:first-child {
        margin: 2em 0 0 0;
      }
    }
    .btn {
      width: 100%;
    }
  }
}
