// Responsive
// Note: must be in order
// ----------------------------------------
// Responsive
// Note lg must be as the width + padding
// --------------------------------

//$responsive-slugs: xl, lg, md, sm, xs, nav;
$responsive-slugs: xs, sm, md, nav, lg, xl;

$bp-xs: 576px;
$bp-sm: 768px;
$bp-md: 992px;
$bp-md-lg: 1100px;
$bp-lg: 1248px; // 1199px
$bp-lg-xl: 1400px; // 1199px
$bp-xl: 1600px;

$bp-nav: $bp-md-lg; // navigation change

// Responsive Mixins
// --------------------------------

@mixin media($media) {
  @if $media == xs {
    @media (max-width: #{$bp-xs - 1}) { @content; }
  } @else if $media == sm {
    @media (max-width: #{$bp-sm - 1}) { @content; }
  } @else if $media == md {
    @media (max-width: #{$bp-md - 1}) { @content; }
  } @else if $media == md-lg {
    @media (max-width: #{$bp-md-lg - 1}) { @content; }
  } @else if $media == lg {
    @media (max-width: #{$bp-lg - 1}) { @content; }
  }  @else if $media == lg-xl {
    @media (max-width: #{$bp-lg-xl - 1}) { @content; }
  } @else if $media == xl {
    @media (max-width: #{$bp-xl - 1}) { @content; }
  } @else if $media == nav {
    @media (max-width: #{$bp-nav - 1}) { @content; }
  } @else if $media == xxl {
    @media (min-width: #{$bp-xl}) { @content; }
  } @else if $media == xs-plus {
    @media (min-width: #{$bp-xs}) { @content; }
  } @else if $media == sm-plus {
    @media (min-width: #{$bp-sm}) { @content; }
  } @else if $media == md-plus {
    @media (min-width: #{$bp-md}) { @content; }
  } @else if $media == lg-plus {
    @media (min-width: #{$bp-lg}) { @content; }
  } @else if $media == xl-plus {
    @media (min-width: #{$bp-xl}) { @content; }
  } @else if $media == nav-plus {
    @media (min-width: #{$bp-nav}) { @content; }
  } @else if $media == mobile-landscape {
    @media (max-width: 1023px) and (orientation : landscape) { @content; }
  }
}

.ts-col {
  box-sizing: border-box;
  width: 100%;
}

// Cols
// ----------------------------------------

@for $i from 1 through 24 {
  .col-#{$i} {
    width: (100% * ($i/24))
  }
}

@each $slug in $responsive-slugs {
  @include media(#{$slug}-plus) {
    @for $i from 1 through 24 {
      .#{$slug}-col-#{$i} {
        width: (100% * ($i/24))
      }
    }
  }
}


// Frequently used style
// ----------------------------------------
.col-fs-50 {
  width: 50%;
  @include media(md) {
    width: 100%;
  }
}

// Grid
// ----------------------------------------

@mixin responsive-grid($gutter-width, $gutter-height) {
  width: calc(100% + #{$gutter-width});
  margin-left: -#{$gutter-width / 2};
  display: flex;
  flex-wrap: wrap;
  .card-col {
    padding: #{$gutter-height / 2} #{$gutter-width / 2};
    box-sizing: border-box;
  }
}

.ts-grid {
  display: flex;
  flex-wrap: wrap;
  .ts-col {
    box-sizing: border-box;
    align-self: flex-start;
  }
}

// Show & Hide
// ----------------------------------------

@each $slug in $responsive-slugs {
  @include media(#{$slug}-plus) {
    .show-#{$slug} {
      display: none;
    }
  }
  @include media(#{$slug}) {
    .hide-#{$slug} {
      display: none;
    }
  }
}
