html, body {
  padding: 0;
  margin: 0;
}

.we-all {

  @import "variables";
  @import "mixins";
  //@import "../../node_modules/bootstrap/scss/bootstrap";

  @import "../../node_modules/bootstrap/scss/functions";
  @import "../../node_modules/bootstrap/scss/variables";
  @import "../../node_modules/bootstrap/scss/mixins";

  @import "../../node_modules/bootstrap/scss/grid";
  //@import "../../node_modules/bootstrap/scss/reboot";
  @import "../../node_modules/bootstrap/scss/buttons";
  @import "../../node_modules/bootstrap/scss/forms";
  
  @import "selectric";

  @import "normalize";
  @import "common";
  @import "animations";
  @import "components";
  @import "carousel";
  @import "popup";
  @import "page-home";
  @import "page-dq";
  @import "page-family-link";
  @import "page-secure-net";
  @import "page-shared";
  @import "nav";
  @import "mixins";

  // Main Setting
  // ----------------------------------------

  font-size: 10px;
  font-family: $font-family-1-cond;
  line-height: 1.2;
  padding-top: $nav-height;
  color: #000000;

  h1, h2, h3, h4, h5 {
    margin: 0;
  }

  .btn {
    text-decoration: none;
    cursor: pointer;
  }

  %theme {
    color: var(--color);

    .btn-outline-light {
      &:hover {
        color: var(--color-diff) !important;
      }
    }
  }

  .theme--light {
    @extend %theme;
  }

  .theme--dark {
    @extend %theme;
    --color: #ffffff;
    --color-diff: #000000;
    --border-color: #ffffff;
  }
}
